.card {
  width: min(900px, 100%);
  margin: 0 auto 24px;
  background: var(--white-pierre);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .08);
}

.btn-danger {
  background: var(--red-coeur);
  color: white;

  &:hover {
    background: #8f1b1b;
  }
}

.table-container {
  width: 100%;
  background: white;
  padding: 1rem;
  border-radius: 8px;
}
