* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: var(--text);
  background-color: var(--bg);
}

h1 {
  color: var(--primary);
  font-weight: 800;
}

main.container {
  padding: 5rem 1.25rem;
  min-height: calc(100vh - 120px);
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
}

main>img#akinator {
  width: 240px;
  max-width: 70%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.6rem;

  }
  main.container {
    padding: 3rem 1rem;
  }
}
