.site-header {
  background-color: var(--primary);
  color: var(--white-pierre);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;

  a {
    color: var(--white-pierre);
    text-decoration: none;
    margin: 0 5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.site-footer {
  background-color: var(--accent);
  color: var(--brown-cuir);
  text-align: center;
  padding: 1rem;
}

@media (max-width: 768px) {
  .site-header {
    flex-direction: column;
    text-align: center;

    nav {
      margin-top: 1rem;
    }
  }
}
