.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  
  .question {
    font-weight: 800;
    margin-bottom: 1rem;
  }
}

.answers {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.answer {
  width: 100%;
  max-width: 820px;

  input {
    display: none;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 72px;
    border: 2px solid var(--primary);
    border-radius: 6px;
    transition: 2s;
    background: rgba(255, 255, 255, .25);

    &:hover {
      background: rgba(26, 77, 46, .06);
    }
  }

  input:checked+span {
    background: rgba(26, 77, 46, .10);
    border-width: 3px;
  }
}

.btn-validate {
  background: #f4f4f4;
  border: 1px solid #777;
  border-radius: 2px;
  padding: 25rem 6rem;
}

.restart-link {
  color: #5b2aa8;
  text-decoration: none;
  margin-top: 5rem;

  &:hover {
    text-decoration: underline;
  }
}
