:root {
  --green-kokiri: #1A4D2E;
  --gold-triforce: #D4AF37;
  --beige-parchemin: #F5F1DE;
  --brown-cuir: #4B3621;
  --white-pierre: #FFFFFF;
  --red-coeur: #B22222;
  --blue-ocarina: #2C7BB6;

  --primary: var(--green-kokiri);
  --accent: var(--gold-triforce);
  --bg: var(--beige-parchemin);
  --text: var(--brown-cuir);
}
