:root {
  --green-kokiri: #1A4D2E;
  --gold-triforce: #D4AF37;
  --beige-parchemin: #F5F1DE;
  --brown-cuir: #4B3621;
  --white-pierre: #FFFFFF;
  --red-coeur: #B22222;
  --blue-ocarina: #2C7BB6;

  --primary: var(--green-kokiri);
  --accent: var(--gold-triforce);
  --bg: var(--beige-parchemin);
  --text: var(--brown-cuir);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: var(--text);
  background-color: var(--bg);
}

h1 {
  color: var(--primary);
}

main.container {
  padding: 60px 20px;
  min-height: calc(100vh - 100px);
  margin: auto;
  max-width: 1100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
}

#akinator {
  width: 240px;
  max-width: 70%;
}

.error {
  color: var(--red-coeur);
}

.success {
  color: #1b7a3a;
  text-align: center;
}

.helper {
  text-align: center;
}

.site-header {
  background-color: var(--primary);
  color: var(--white-pierre);
  padding: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header a {
  color: var(--white-pierre);
  text-decoration: none;
  margin: 0 8px;
}

.site-header a:hover {
  text-decoration: underline;
}

.site-footer {
  background-color: var(--accent);
  color: var(--brown-cuir);
  text-align: center;
  padding: 16px;
}

.form-container {
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  width: 100%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.answers {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.answer {
  width: 100%;
  max-width: 820px;
}

.answer input {
  display: none;
}

.answer span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;

  border: 2px solid var(--primary);
  border-radius: 6px;
  background-color: #f2f2f2;
}

.answer span:hover {
  background-color: #e0e0e0;
}

.answer input:checked + span {
  background-color: #d4e6d4;
  border: 3px solid var(--primary);
}


.btn-validate {
  background: #f4f4f4;
  border: 1px solid #777;
  padding: 6px 12px;
}

.result-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.result-img {
  max-width: 560px;
  width: 100%;
  margin: auto;
  border-radius: 12px;
}

.result-desc {
  text-align: center;
  max-width: 720px;
  margin: auto;
}

.result-actions {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}


.card {
  max-width: 900px;
  width: 100%;
  margin: auto;
  background: white;
  padding: 24px;
  border-radius: 12px;
}

.btn-danger {
  background: var(--red-coeur);
  color: white;
  padding: 8px 14px;
  border: none;
}

.table-container {
  width: 100%;
  background: white;
  padding: 16px;
  border-radius: 8px;
}